:root {
  --color-primary: rgb(250, 238, 231);
  --color-secondary: rgb(245, 66, 145);
  --color-secondary-hover: rgb(245, 86, 155);
  --color-tertiary: rgb(76, 211, 194);
  --color-quaternary: rgb(10, 151, 176);
  --color-white: white;
  --color-black: rgb(58, 57, 57); }

body {
  background-color: var(--color-primary);
  font-family: "Roboto", sans-serif; }

.heading-primary,
.heading-secondary {
  font-size: 4rem;
  color: var(--color-black);
  margin-bottom: 1.3vw; }
  @media only screen and (max-width: 61.25em) {
    .heading-primary,
    .heading-secondary {
      font-size: 2.8rem; } }
  @media only screen and (max-width: 51.25em) {
    .heading-primary,
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 45.625em) {
    .heading-primary,
    .heading-secondary {
      font-size: 2.5rem;
      margin-bottom: 2vw; } }
  @media only screen and (max-width: 26.5625em) {
    .heading-primary,
    .heading-secondary {
      font-size: 3rem;
      margin-bottom: 4vw; } }
  .heading-primary--white,
  .heading-secondary--white {
    color: var(--color-white); }
  .heading-primary--color-tertiary,
  .heading-secondary--color-tertiary {
    color: var(--color-tertiary); }

.heading-tertiary {
  font-size: 2rem;
  color: var(--color-secondary);
  margin-bottom: 1.3vw; }
  @media only screen and (max-width: 61.25em) {
    .heading-tertiary {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 51.25em) {
    .heading-tertiary {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 45.625em) {
    .heading-tertiary {
      font-size: 1.5rem;
      margin-bottom: 2vw; } }
  @media only screen and (max-width: 26.5625em) {
    .heading-tertiary {
      font-size: 1.5rem;
      margin-bottom: 4vw; } }
  .heading-tertiary--white {
    color: var(--color-white); }
  .heading-tertiary--color-quaternary {
    color: var(--color-quaternary); }

.heading-quaternary {
  font-size: 1.8rem;
  color: var(--color-quaternary);
  margin-bottom: 2vw; }

.heading-quinary {
  font-size: 1.8rem;
  color: var(--color-tertiary); }
  @media only screen and (max-width: 26.5625em) {
    .heading-quinary {
      margin-bottom: 1.3vw; } }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
  font-kerning: normal;
  color: var(--color-black);
  margin-bottom: 1.3vw; }
  @media only screen and (max-width: 45.625em) {
    .paragraph {
      font-size: 1.5rem;
      margin-bottom: 2vw; } }
  .paragraph--white {
    color: var(--color-white); }
  .paragraph--portfolio {
    color: var(--color-white);
    margin: 0; }
    @media only screen and (max-width: 26.5625em) {
      .paragraph--portfolio {
        margin-bottom: 4vw; } }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 2rem; }

.u-margin-reset {
  margin-bottom: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.text-box {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 1440px) {
    .text-box {
      flex-basis: 40%; } }
  @media only screen and (max-width: 1440px) {
    .text-box {
      flex-basis: 50%; } }
  @media only screen and (max-width: 51.25em) {
    .text-box {
      flex-basis: 60%; } }
  @media only screen and (max-width: 26.5625em) {
    .text-box {
      flex-basis: 100%; } }

.text-box--wide {
  display: flex;
  flex-direction: column;
  flex-basis: 70%; }
  @media only screen and (max-width: 68.75em) {
    .text-box--wide {
      flex-basis: 100%; } }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 3vw;
  text-decoration: none;
  font-size: 0.8vw;
  font-weight: 600;
  padding: 0.6vw 0.8vw;
  color: var(--color-white);
  border-radius: 3px;
  transform: scale(100%);
  transition: all 0.3s ease; }
  @media only screen and (max-width: 68.75em) {
    .button {
      width: 12vw;
      height: 4vw;
      font-size: 1.2vw; } }
  @media only screen and (max-width: 61.25em) {
    .button {
      width: 13vw;
      height: 4vw;
      font-size: 1.4vw; } }
  @media only screen and (max-width: 51.25em) {
    .button {
      width: 14vw;
      height: 5vw;
      font-size: 1.6vw; } }
  @media only screen and (max-width: 45.625em) {
    .button {
      width: 16vw;
      height: 6vw;
      font-size: 1.7vw; } }
  @media only screen and (max-width: 26.5625em) {
    .button {
      width: 35vw;
      height: 15vw;
      font-size: 4vw; } }
  .button:hover {
    transform: scale(110%); }
  .button--1 {
    background-color: var(--color-secondary);
    margin-right: 1.5vw; }
  .button--2 {
    background-color: var(--color-tertiary); }

.icons-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .icons-box__main-container {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(100%);
    transition: all 0.2s ease; }
    .icons-box__main-container:hover {
      transform: scale(110%); }
  .icons-box__picture-container {
    flex-basis: 100%; }
    @media only screen and (max-width: 26.5625em) {
      .icons-box__picture-container {
        width: 60px; } }
  .icons-box__picture {
    width: 100%; }
  .icons-box p {
    font-size: 1.6rem;
    font-weight: 600; }

.section-contact {
  width: 100%;
  padding: 5vw 8vw;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 26.5625em) {
    .section-contact {
      padding: 10vw 8vw; } }
  .section-contact__container {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .section-contact__picture-container {
    flex-basis: 40%;
    display: flex; }
    @media (hover: hover) {
      .section-contact__picture-container {
        transform: translateX(-30%);
        opacity: 0;
        transition: all 0.2s ease-in-out; } }
    @media only screen and (max-width: 61.25em) {
      .section-contact__picture-container {
        display: none; } }
  .section-contact__picture {
    width: 100%; }
  .section-contact:hover .section-contact__picture-container {
    transform: translateX(0);
    opacity: 1; }

.contact-form {
  margin-top: 2vw;
  flex-basis: 50%;
  border-radius: 3px;
  border-left: 5px solid var(--color-quaternary);
  padding: 2.5vw 4vw;
  background-color: #fffaf6;
  box-shadow: 0px 10px 20px rgba(15, 2, 53, 0.096);
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 61.25em) {
    .contact-form {
      flex-basis: 100%; } }
  @media only screen and (max-width: 26.5625em) {
    .contact-form {
      border: none;
      background-color: transparent;
      box-shadow: none;
      padding: 0; } }

.form-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.form-row label {
  font-size: 1.6rem;
  margin-bottom: 1vw;
  font-family: inherit; }
  @media only screen and (max-width: 26.5625em) {
    .form-row label {
      margin-bottom: 2.5vw; } }

.form-row input,
textarea {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  padding: 0.8vw 1.5vw;
  margin-bottom: 2vw;
  font-family: inherit; }
  @media only screen and (max-width: 51.25em) and (min-width: 26.5625em) {
    .form-row input,
    textarea {
      padding: 2.3vw 2.5vw; } }
  @media only screen and (max-width: 26.5625em) {
    .form-row input,
    textarea {
      padding: 3vw 3vw;
      margin-bottom: 6vw; } }

.form-row textarea {
  font-family: inherit;
  resize: none; }

.form-row input:focus,
textarea:focus {
  outline-color: var(--color-quaternary); }

.form-row button {
  border: none;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-quaternary);
  padding: 1vw;
  cursor: pointer; }
  @media only screen and (max-width: 51.25em) {
    .form-row button {
      padding: 2vw; } }
  .form-row button:hover {
    background-color: #098ba1; }
  .form-row button:active {
    transform: translateY(3px); }

.navigation {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 51.25em) {
    .navigation {
      display: none; } }
  .navigation__logo-container {
    width: 2.5vw;
    display: flex;
    align-items: center;
    margin-left: 6vw;
    margin-right: 6vw; }
  .navigation__logo {
    width: 100%; }
  .navigation__list {
    height: 100%;
    flex-basis: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
  .navigation__item {
    display: flex; }
  .navigation__link {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.7vw 1vw; }
    .navigation__link:hover {
      border-bottom: 2px solid var(--color-secondary); }
    .navigation__link:active {
      transform: translateY(3px); }

.mobile-navigation__button {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  background-color: var(--color-quaternary);
  z-index: 1500;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 51.25em) and (min-width: 26.5625em) {
    .mobile-navigation__button {
      display: flex; } }

.mobile-navigation__line {
  height: 2px;
  width: 50%;
  border-radius: 5px;
  background-color: white; }

.mobile-navigation__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 1500; }

.mobile-navigation__line {
  margin: 7px 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: white; }
  .mobile-navigation__line--button {
    margin: 4px 0; }

.mobile-navigation__nav {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 40vh;
  display: flex;
  border-top: 5px solid var(--color-tertiary);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-quaternary);
  transition: all 0.1s ease;
  z-index: 2000; }
  @media only screen and (max-width: 51.25em) and (min-width: 26.5625em) {
    .mobile-navigation__nav {
      display: flex;
      right: 0px;
      bottom: 0px;
      width: 50%;
      height: 100vh;
      transform: translateX(100%);
      border-top: 0;
      border-left: 5px solid var(--color-tertiary); } }
  @media only screen and (max-width: 26.5625em) {
    .mobile-navigation__nav {
      display: flex;
      transform: translateY(90%); } }

.mobile-navigation__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none; }

.navigation__link--mobile {
  color: var(--color-white);
  font-size: 1.4rem; }

.hidden {
  display: none; }

.openMenu-vertical {
  transform: translateY(0%); }

.openMenu-horizontal {
  transform: translateX(0%); }

.footer {
  width: 100%;
  background-color: var(--color-quaternary);
  padding: 5vw 8vw;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 51.25em) {
    .footer {
      padding: 10vw 8vw; } }
  .footer__first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw; }
    @media only screen and (max-width: 26.5625em) {
      .footer__first-row {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0vw; } }
  .footer__second-row {
    display: flex;
    border-top: 1px solid var(--color-tertiary);
    padding-top: 2vw; }
    @media only screen and (max-width: 26.5625em) {
      .footer__second-row {
        justify-content: center;
        padding-top: 6vw; } }
  .footer__info {
    flex-basis: 30%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 26.5625em) {
      .footer__info {
        margin-bottom: 4vw; } }
  .footer__phone-number {
    color: var(--color-tertiary);
    font-weight: 600;
    text-decoration: none; }

.navigation--footer {
  width: 10%;
  height: auto; }

.navigation__list--footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.navigation__link--footer {
  color: var(--color-white); }

.container {
  max-width: 100vw; }

.header {
  width: 100%; }

.section-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw 8vw;
  background-image: url("../../assets/img/section-hero-bg.svg");
  background-size: cover; }
  @media only screen and (max-width: 51.25em) {
    .section-hero {
      padding: 10vw 8vw; } }
  @media only screen and (max-width: 26.5625em) {
    .section-hero {
      flex-direction: column;
      justify-content: flex-start; } }
  .section-hero__button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start; }
    @media only screen and (max-width: 26.5625em) {
      .section-hero__button-container {
        display: none; } }
  .section-hero__picture-container {
    flex-basis: 40%;
    margin-left: 5vw; }
    @media only screen and (max-width: 26.5625em) {
      .section-hero__picture-container {
        margin-left: 0;
        margin-bottom: 8vw; } }
  .section-hero__picture {
    width: 100%;
    border-radius: 100%; }
  .section-hero__mobile-button-container {
    width: 100%;
    display: none;
    justify-content: space-evenly; }
    @media only screen and (max-width: 26.5625em) {
      .section-hero__mobile-button-container {
        display: flex; } }

.counter {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-tertiary); }
  @media only screen and (max-width: 51.25em) {
    .counter {
      height: 25vw; } }
  @media only screen and (max-width: 45.625em) {
    .counter {
      height: auto;
      background-color: transparent; } }
  .counter__decoration-line {
    width: 100%;
    height: 20px;
    background-color: var(--color-tertiary);
    display: none;
    clip-path: polygon(0 0, 0 100%, 90% 0); }
    @media only screen and (max-width: 45.625em) {
      .counter__decoration-line {
        display: block; } }
    @media only screen and (max-width: 26.5625em) {
      .counter__decoration-line {
        display: none; } }
  .counter__box {
    width: 40%;
    height: 8vw;
    color: var(--color-black);
    background-color: white;
    border-radius: 3px;
    z-index: 3;
    box-shadow: 0px 10px 20px rgba(15, 2, 53, 0.096);
    display: flex;
    align-items: center;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 45.625em) {
      .counter__box {
        display: none; } }
    @media only screen and (max-width: 68.75em) {
      .counter__box {
        width: 50%; } }
    @media only screen and (max-width: 61.25em) {
      .counter__box {
        width: 60%;
        height: 9vw; } }
    @media only screen and (max-width: 51.25em) {
      .counter__box {
        width: 65%;
        height: 10vw; } }
    .counter__box--1 {
      transform: scale(100%); }
    .counter__box--2 {
      background-color: var(--color-quaternary);
      transform: translateY(8%) scale(97%);
      z-index: 2;
      position: absolute; }
    .counter__box--3 {
      background-color: var(--color-primary);
      transform: translateY(16%) scale(94%);
      z-index: 1;
      position: absolute; }
  .counter:hover .counter__box--1 {
    transform: scale(102%); }
  .counter:hover .counter__box--2 {
    transform: translateY(12%) scale(99%); }
  .counter:hover .counter__box--3 {
    transform: translateY(22%) scale(96%); }
  .counter__item {
    flex-basis: 25%;
    height: 80%;
    padding: 0 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .counter__item:not(:last-child) {
      border-right: 2px solid white; }
    .counter__item p {
      font-size: 2vw;
      color: var(--color-black);
      margin-bottom: 0.5vw; }
    .counter__item h4 {
      font-size: 0.8vw;
      font-weight: 500;
      color: darkgrey; }
      @media only screen and (max-width: 68.75em) {
        .counter__item h4 {
          font-size: 1.1vw; } }
      @media only screen and (max-width: 61.25em) {
        .counter__item h4 {
          font-size: 1.4vw; } }
      @media only screen and (max-width: 51.25em) {
        .counter__item h4 {
          font-size: 1.6vw; } }

.section-about {
  width: 100%;
  padding: 5vw 8vw;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 51.25em) {
    .section-about {
      padding: 10vw 8vw; } }
  @media only screen and (max-width: 45.625em) {
    .section-about {
      flex-direction: column;
      justify-content: flex-start;
      height: 100%; } }
  .section-about__box-left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 5vw;
    height: 40vw;
    background-image: url("../../assets/img/section-about-bg.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    @media only screen and (max-width: 45.625em) {
      .section-about__box-left {
        display: none; } }
  .section-about__box-right {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 1440px) {
      .section-about__box-right {
        flex-basis: 40%; } }
    @media only screen and (max-width: 1440px) {
      .section-about__box-right {
        flex-basis: 55%; } }
  .section-about__picture-container {
    display: flex;
    width: 48%;
    height: 40%;
    border-radius: 3px;
    position: absolute;
    transition: all 0.3s ease; }
    .section-about__picture-container--1 {
      transform: translate(40%, -40%);
      z-index: 1; }
    .section-about__picture-container--2 {
      transform: translateX(-30%) scale(90%);
      z-index: 2; }
    .section-about__picture-container--3 {
      transform: translate(25%, 40%);
      z-index: 3; }
  .section-about__picture {
    width: 100%;
    object-fit: cover; }

.portfolio {
  width: 100%;
  padding: 5vw 8vw;
  background-color: var(--color-quaternary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (max-width: 51.25em) {
    .portfolio {
      padding: 10vw 8vw; } }
  .portfolio__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (min-width: 1440px) {
      .portfolio__text-box {
        flex-basis: 40%; } }
    @media only screen and (max-width: 1440px) {
      .portfolio__text-box {
        flex-basis: 50%; } }
  .portfolio__caption {
    margin-top: 1.5vw;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 26.5625em) {
      .portfolio__caption {
        margin-top: 4vw; } }
  .portfolio__sites-gallery {
    margin-top: 2.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .portfolio__picture-container {
    margin: 1.3vw;
    display: flex;
    flex-direction: column; }
  .portfolio__picture {
    width: 100%;
    box-shadow: 0px 10px 20px rgba(15, 2, 53, 0.096); }

.section-myskills {
  width: 100%;
  padding: 5vw 8vw;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 51.25em) {
    .section-myskills {
      padding: 10vw 8vw; } }

.section-review {
  width: 100%;
  background-color: var(--color-tertiary);
  padding: 5vw 8vw;
  display: flex; }
  @media only screen and (max-width: 51.25em) {
    .section-review {
      padding: 10vw 8vw; } }
  .section-review__container {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .section-review__cards-container {
    margin-top: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    @media only screen and (max-width: 61.25em) {
      .section-review__cards-container {
        flex-direction: column; } }
  .section-review__card {
    margin: 1vw;
    flex-basis: 30%;
    background-color: var(--color-primary);
    box-shadow: 0px 10px 20px rgba(15, 2, 53, 0.096);
    border-left: 5px solid var(--color-secondary);
    border-radius: 3px;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    transform: scale(100%);
    transition: transform 0.2s ease; }
    @media only screen and (max-width: 61.25em) {
      .section-review__card {
        padding: 5vw; } }
    @media only screen and (max-width: 26.5625em) {
      .section-review__card {
        margin: 4vw 1vw; } }
    @media (hover: hover) {
      .section-review__card:hover {
        transform: scale(110%);
        border-left: 5px solid var(--color-secondary-hover); } }
    .section-review__card:active {
      transform: scale(110%);
      border-left: 5px solid var(--color-secondary-hover); }
  .section-review__picture-container {
    display: flex;
    width: 30%;
    margin-bottom: 2vw; }
    @media only screen and (max-width: 61.25em) {
      .section-review__picture-container {
        width: 20%; } }
  .section-review__picture {
    border-radius: 100%;
    width: 100%; }
  .section-review__date-text {
    margin-top: 2vw;
    border-top: 1px solid var(--color-secondary);
    padding-top: 2vw;
    font: inherit;
    font-size: 1.2rem;
    color: var(--color-secondary);
    font-weight: 600; }

.section-social {
  width: 100%;
  background-color: var(--color-tertiary);
  padding: 5vw 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* UNIVERSAL SOCIAL ICONS COLOR */ }
  .section-social__container {
    margin-top: 2vw;
    width: 40vw;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 68.75em) {
      .section-social__container {
        width: 60%; } }
    @media only screen and (max-width: 61.25em) {
      .section-social__container {
        width: 60%; } }
    @media only screen and (max-width: 51.25em) {
      .section-social__container {
        width: 70%; } }
    @media only screen and (max-width: 45.625em) {
      .section-social__container {
        width: 80%; } }
    @media only screen and (max-width: 26.5625em) {
      .section-social__container {
        width: 100%; } }
  .section-social__logo-container {
    display: flex;
    flex-basis: 10%;
    transform: scale(100%);
    transition: transform 0.3s ease;
    position: relative; }
    @media only screen and (max-width: 26.5625em) {
      .section-social__logo-container {
        flex-basis: 25%;
        margin: 5vw; } }
    .section-social__logo-container:hover {
      transform: scale(110%); }
  .section-social__link {
    display: block; }
  .section-social__logo {
    width: 100%;
    color: white;
    display: block; }
